.blue-background {
    background-color: blue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    order: 1;
}

nav .nav-items {
    order: 2;
    display: flex;
    gap: 20px;

}

nav .social-media {
    order: 3;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.titel {
    color: white;
    background: rgba(0, 0, 0, 0.6);
}